 * {

 }

/*navbar*/
.navbar {
  width: 100%;
  background: gold;
  animation-name: cool;
  animation-duration: 10s;
}

#this {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

#this #looks {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}



#this #looks #nice {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

/* Animation */


@keyframes cool {
    from {background-color: black;}
    to {background-color: gold;}
